worker_processes  1;

user www-data;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;

    keepalive_timeout  65;

    client_max_body_size 20M;

    gzip  on;

{% for website in static_websites %}
    server {
        listen  80;

        server_name "{{ website.server_name }}";

        root /home/oppr/{{ website.name }}/{{ website.trailing_dir }};

        location / {
            try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        }

    }
{% endfor %}
}
